<h1>Course Listing</h1>

<ul>
    <li>Duration: 4 months</li>
    <li>Name: Cloud Application Development</li>
    <li>Description: Web Application framworks and design patterns to cloud based solutions</li>

</ul>

<ul>
    <li>Duration:2 months</li>
    <li>Name: Sofware Application Programming</li>
    <li>Description: Secure coding practices, robust techniques to mitigate security risks and threats</li>

</ul>

